.App {
  margin: 0;
  padding: 0;
}

/* .navbar-nav {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
} */

.nav {
  background: #cc5757;
  
}

.nav-link {
  color: black;
}